@import 'mixin' ;
@import 'variable';
@import 'form';
@import 'table';
@import 'font';
@import 'color';
@import 'container';

body{
    margin: 0;
    font-family:$font-family-arial;
}

/* Navigation */
.navigation{
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 9;
}

#check{display: none;}

.fa-btn{
    display: none;
    @include lg{
        display: block; 
        font-size:$fs-20;
        padding: 20px; 
        z-index: 9999999;
    }
    @include xsm {
        padding: 10px;;
    }
}
.nav-bar{ 
    display: flex;
    align-items: center; 
}

.navigation {
  background: $bg-primary;
  @include lg{
    #check:checked ~ nav{transform: translateY(0);}
    }
}

.container, .nav-container {
  max-width: $container;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.logo {
    height: 70px;
    width: 138px;
    padding: 10px ;
    .ban-img1{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
nav {
    padding: 0px 100px;
    position: relative;
    @include lg{
        position: absolute; width: 100%;top: 0;left: 0;height: 100vh;transform: translateY(-100%);text-align: center; transition: all .5s; padding: 0; z-index: 999;background-color: #d4d4d4;
    }
    @include lg{ 
        padding: 0px 30px;
        .nav-list{
            gap: 10px 30px;
        }
    }   
    @include xlg{
        padding: 0px 40px;
    }
        .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 10px 50px;
        align-items: center;
        transform: translateY(50% , -50%);
            .nav-link{text-decoration: none;
                        color: $text-dark;
                        &.active,:hover{
                            color: red;border-bottom: 1px solid $scondary;
                        }&:hover{
                            color: $scondary;
                            border-bottom:1px solid $scondary;
                        }
                        @include md{ border-bottom :1px solid #faf5e4; font-size: $fs-20; color: #292929;}  
                }
                @include lg{
                    display: flex; flex-direction: column; padding-top: 50px; color: #292929; z-index: 9; cursor: pointer; align-items: baseline;
                }
        } 
}
.search-in{
    margin-left: auto;
    width: auto;
    display: flex;
    align-items: center; 
    @include sm {
        margin-left: 30px;
    }
    @include xsm {
    margin-left: unset;
    }
}
.search__input {
    border: 1px solid $text-muted;
    padding: 10px 271px 10px 25px;
    position: relative;
    border-radius: 25px;
    margin-bottom: 0;
    @include xl{
        width: 250px;
        padding: 10px 50px 10px 25px;
    }
    @include xlg{
        padding: 10px 50px 10px 25px;
        width: 250px;
    }
    @include lg{ 
        padding: 10px 70px 10px 25px;
        width: 200px;
    }
    @include sm {
        width: 100px; 
    }
    @include xsm{
        width: 0px;
    }
}
.icn1{
    position: absolute;
    z-index: 99;
    right: 17%;
    color: $gray;
    transform: translateY(-50% , 50%);
    @include xxl{
        right: 10%;
    }
    @include xl{
        right: 4%;
    }
    @include xlg{
        right: 3%;
    }
    @include lg{
        right: 10%;
    }
    @include md {
        right: 13%;
    }
    @include xsm{
        right: 18%;
    }
}
/*  */

/*---------------------------------------- banner-Section ------------------------------------------------------------------------*/

.head-b{
    font-size: $fs-52;
    color: #572B39; 
    font-family: $font-family-arial;
    h1{
        margin: 0;
    }
    @include xxl {
        font-size: $fs-48;
    } 
    @include xl {
        font-size: $fs-40;
    }
    @include xlg{
        font-size: $fs-32;
    }
    @include lg{
        font-size: $fs-30;
    }
    @include md{
        font-size: $fs-25;
    }
    @include sm{
        font-size: $fs-20;
    }
    }
.para-b{font-family: $font-family-arial;
    font-size: $fs-20;
    width: 50%;
    @include lg {
        width: 100%;
    }    
}
.btn{font-family: $font-family-lato; font-size: $fs-18; background-color: #000000; color: white; border-radius: 50px; padding: 10px;
    &:hover{background-color: white; color: #000000;}
}

/* --------------------------------card-section ---------------------------------------------------------------------------------------------------*/

.aside{
    background-color: #FFF4EF;
    align-items: center;
}
.aside-img{
    width: 50%;
}
.aside-content{
    
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    
    h4{
        font-size: $fs-32;
        font-family: $font-family-arial;
        color: #572B39;
    }
    p{
        font-size: $fs-20;
        font-family: $font-family-arial;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */
.crd-h{
    font-size: $fs-48;
    color: #572B39; 
    font-family: $font-family-arial;
    h2{
        margin: 0;
    }
    @include xxl {
        font-size: $fs-40;
    } 
    @include xl {
        font-size: $fs-32;
    }
    @include xlg{
        font-size: $fs-30;
    }
    @include lg{
        font-size: $fs-30;
    }
    @include md{
        font-size: $fs-25;
    }
    @include sm{
        font-size: $fs-20;
    }
}
.crd-c{
    font-size: $fs-20;
    font-family: $font-family-arial;
}
.crd {
    justify-content: center;
    p{
        font-size: $fs-20;
        font-family: $font-family-arial;
    }
}
/* -------------------------------------------------form---------------------------------------------------------------------- */
.form-f{
    background-color: #dad9d9;
    border-radius: 30px;
    height: 100%;
    width: 1050px;
    @include xl{
        height: 100%;
        width: 100%;
    }
}
.form-input{
    @include md{
        display: flex;
        flex-direction: column;
        gap: unset;
        
    }   
}
.file-f{
    @include sm{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .input4{
            margin-left:  unset;
        }
    }
}
.subbtn{background-color: #000000; color: #F3F3F3; border: 1px solid #B6B6B6;
    cursor: pointer;
    &:hover{background-color: #F3F3F3; color: #000000;}
}
.rebtn{border: 1px solid #B6B6B6;
    cursor: pointer;
    &:hover{background-color: #000000; color: #F3F3F3;}
}
.sub-r{@include xsm{flex-direction: column; gap: unset; padding-top: 10px;}}

/* -------------------------------footer------------------------------------------------------------------------------------- */
.f-bg{background-color: #F9F9F9;}

.icon{justify-content: center;
    cursor: pointer;
    .icn{
        background-color: #000000;
        color: white;
        padding: 10px;
        border-radius: 50%;
    }
}

.foter{
    @include lg{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.col-if{
    width: 50%;
    iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include lg{
        height: 100%;
        width: 100%;}
}
.col-con{
    width: 50%;
    text-align: center;
    @include lg{
        height: 100%;
        width: 100%;}
}