*{
   box-sizing: border-box;
}
body {
  font-family: "Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
/* Global CSS  Start*/

/* color */

.text-primary {
   color: #1d1d1d;
}
.text-secondary {
   color: #ff0000;
}
.text-blue {
   color: #130085;
}
.text-yellow {
   color: #fba333;
}
.text-white {
   color: white;
}

/* bg color */

.bg-gray-200 {
   background-color: #e6e6e6;
}
.bg-gray-400 {
   background-color: #d4d4d4;
}
.bg-red {
   background-color: #fb6050;
}
.bg-yellow {
   background-color: #fba333;
}
.bg-blue {
   background-color: #3092f9;
}
.bg-green {
   background-color: #45b375;
}
.bg-gray {
   background-color: #dbd8d8;
}

/* Global CSS */

.p-8 {
   padding: 8px;
}
.pt-1 {
   padding-top: 4px;
}
.py-2 {
   padding-top: 8px;
   padding-bottom: 8px;
}
.pt-3 {
   padding-top: 16px;
}
.px-4 {
   padding-left: 24px;
   padding-right: 24px;
}
.py-4 {
   padding-top: 24px;
   padding-bottom: 24px;
}
.pt-4 {
   padding-top: 24px;
}
.mx-4 {
   margin-left: 24px;
   margin-right: 24px;
}
.pt-150 {
   padding-top: 150px;
}
.pt-5 {
   padding-top: 48px;
}
.pb-5 {
   padding-bottom: 48px;
}
.pb-3 {
   padding-bottom: 16px;
}
.pb-4 {
   padding-bottom: 24px;
}
.pl-2 {
   padding-left: 8px;
}
.px-3 {
   padding-left: 16px;
   padding-right: 16px;
}
.py-3 {
   padding-top: 16px;
   padding-bottom: 16px;
}
.pr-5 {
   padding-right: 48px;
}
.mx-auto {
   margin: 0 auto;
}
.ml-0 {
   margin-left: 0;
}
.ml-auto {
   margin-left: auto;
}
.mr-auto {
   margin-right: auto;
}
.mt-1 {
   margin-top: 4px;
}
.mt-0 {
   margin-top: 0;
}
.mb-0 {
   margin-bottom: 0;
}
.m-0 {
   margin: 0px;
}
.mt-0 {
   margin-top: 0;
}
.mt-2 {
   margin-top: 8px;
}
.mt-3 {
   margin-top: 20px;
}

/* width */

.col-4 {
   width: 33.3333333333%;
}
.col-6 {
   width: 50%;
}
.col-7 {
   width: 58.3333333333%;
 }
.col-8 {
   width: 66.6666666667%;
}
.col-10 {
   width: 83.3333333333%;
}
.col-11 {
   width: 91.6666666667%;
}
.col-12 {
   width: 100%;
}

/* border */

.border {
   border: 1px solid black;
}

/* Font Weight */

.font-weight-400 {
   font-weight: 400;
}
.font-weight-bold {
  font-weight: bold;
}
/* Font size */

.font-16{
   font-size: 16px;
}
.font-18 {
   font-size: 18px;
}
.font-20 {
   font-size: 20px;
}
.font-24 {
   font-size: 24px;
}
.font-28 {
   font-size: 28px;
}
.font-30 {
   font-size: 30px;
}
.font-36 {
   font-size: 36px;
}
.font-40 {
   font-size: 40px;
}
.font-42 {
   font-size: 42px;
}
.font-48 {
   font-size: 48px;
}

/*  */

.line-height-30 {
  line-height: 30px;
}
.text-underline {
 text-decoration: underline;
}

/* text alignment */

.text-center {
   text-align: center;
}
.text-end {
  text-align: end;
}

/* Gap */
.gap-39 {
   gap: 39px;
}
.gap-20 {
   gap: 20px;
}
.gap-15 {
   gap: 15px;
}
.gap-50 {
   gap: 50px;
}
.gap-99 {
   gap: 99px;
}

/* flex properties */

.d-flex {
   display: flex;
}
.align-item-center {
   align-items: center;
}
.justify-content-center {
   justify-content: center;
}

.h-100 {
   height: 100%;
}
/* border */
.border-red {
   border: 1px solid red;
}
.border-yellow {
   border: 1px solid #fba333;
}
/* End */

/* main Css Start */

header {
   position: fixed;
   width: 100%;
   left: 0;
   right: 0;
   top: 0;
   background-color: #f0efef;
   z-index: 99;
}

.container { 
   max-width: 1092px;
   margin: 0 auto;
   padding-left: 16px;
   padding-right: 16px;  
}
mark{background-color: red;}
/*  */
var {
   font-style: normal;
}

/* End */