html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f7f7f7;
  font-family: sans-serif;
}
ol,
ul {
  list-style: none;
}
#check1{display: none;}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {border-collapse: collapse;border-spacing: 0;}
/*  */
.d-flex{display: flex;}
.justin{gap: 50px;}
.align-center{display: flex; flex-wrap: wrap;flex-direction: column; justify-content: center;}
.logo{ z-index: 99;}
.logo img{max-width: 90px; object-fit: contain;z-index: 99}
.nav-bar{margin: 0 auto; display: inline; padding: 0 100px;display: flex;flex-wrap: wrap;flex-direction: column; justify-content: center;}
.nav-bar ul{display: flex; gap: 200px;}
li a{text-decoration: none;font-size: 30px; font-family: sans-serif; padding: 10px;color: black;}
.nav-link:hover{background-image: linear-gradient(0deg, #155ed1 0%, #ba5cff 100%);color: aliceblue;}
nav{position: fixed;border-bottom: 2px solid gray; z-index: 999; top: 0; width: 100%;  background-image: linear-gradient(0deg, #ff8615 0%, #ffaf00);}

section{padding-top: 0px; padding-bottom: 0px; background-repeat: no-repeat; background-size: cover; }
.slide-section{width: 20%;}



.main-conatiner{width: 100%;height: 100%; left: 0;right: 0;top: 0; bottom: 0; position: relative;padding-top: 100px;}

.leftmenuinnerinner{
    height: 100%;
    width:100%;
    background-color: #E7E9EB;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding-top: 20px; */
    padding: 10px 10px;
    ;
}
.leftmenuinner{
    position: fixed;
    top: 0;
    padding-top: 100px;
    padding-bottom: 0;
    height: 100%;
    width: 260px;
    background-color: transparent; 
}
.menu{border-bottom: 1px solid;}
.h-head{font-size: 30px; font-family: sans-serif; margin-bottom: 20px;}
.side-link{text-decoration: none; font-size: 20px; font-family: sans-serif; line-height: 30px;color: black;}
.side-link:hover{background-image: linear-gradient(0deg, #155ed1 0%, #ba5cff 100%);color: aliceblue;}

/*  */
.aside-section{width: 100%; height: 100%;}
.main-section{width: 100%;height: 100%;}
.h1{font-family: sans-serif; text-align: center;font-size: 60px; }
h1{font-family: sans-serif; text-align: center;font-size: 40px; }
h2{font-size: 25px;}
h3{font-size: 20px;}
.tab{padding-left: 20px; line-height: 25px; }

table, th, td {
  border:1px solid black;
}
.table2 td {
  padding: 10px;
}
.table3{border-spacing: 15px; border-collapse:separate;}
.bo{border: 1px solid;}
.form{padding: 10px;}

p.l1{border: 4px solid;}
p.dotted {border-style:dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

.mar{margin: 70px;}

p {outline-color:red;}

p.dotted1 {outline-style: dotted;}
p.dashed1 {outline-style: dashed;}
p.solid1 {outline-style: solid;}
p.double1 {outline-style: double;}
p.groove1 {outline-style: groove;}
p.ridge1 {outline-style: ridge;}
p.inset1 {outline-style: inset;}
p.outset1 {outline-style: outset;}

p.uppercase {
    text-transform: uppercase;
  }
  
  p.lowercase {
    text-transform: lowercase;
  }
  
  p.capitalize {
    text-transform: capitalize;
  }
  .int {
    text-indent: 50px;
  }
  .ls{
    letter-spacing: 5px;
  }
  .ls1{
    letter-spacing: -2px;
  }
  p.small {
    line-height: 0.7;
  }
  
  p.big {
    line-height: 1.8;
  }
  .lse{text-shadow: 2px 2px; font-size: 35px;}

  .p1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  a{text-decoration: none;}
  .lin{gap: 50px; align-items: center;}
  .link1 a:hover{color: green;}
  .link2 a:hover{border-bottom: 1px solid;}
  .link3 .a1:link, .a1:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .link3 .a1:hover, .a1:active {
    background-color: red;
  }
  
  .a2:link, .a2:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a2:hover, .a2:active {
    background-color: green;
    color: white;
  }
  ul.a {
    list-style-type: circle;
  }
  
  ul.b {
    list-style-type: square;
  }
  
  ol.c {
    list-style-type: upper-roman;
  }
  
  ol.d {
    list-style-type: lower-alpha;
  }
  .tab1{padding-left: 50px;}
.container1{position: relative;}
.topleft{position: absolute;left: 0;top: 0; font-size: 30px;}
.topright{position: absolute; top: 0; right: 0;width: 59%;font-size: 30px;}
.centered{position: absolute; text-align: center;top: 50%; width: 50%;font-size: 30px;}
.bottomleft{position: absolute;bottom: 0; left: 0;font-size: 30px;}
.bottomright{position: absolute; bottom: 0; right: 0;width: 61%;font-size: 30px;}
.container1 img {  
  width: 50%;
  height: 50%;
  opacity: 0.3;
}

.scroll {
  background-color: coral;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  overflow: scroll;
}
.a-scroll{background-color: coral;
  width: 200px;
  height: 65px;
  border: 1px solid black;
  overflow: auto;}
.pm{width: 700px; height: 170px;}
.fr{float: right;}.fl{float: left; padding-right: 10px;}

.clr{border: 2px solid green;
padding: 5px;
}
.img1 {
  float: right;
}

.img2 {
  float: right;
}

.clearfix {
  overflow: auto;
}
.nav {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.center2 {
  text-align: center;
  border: 3px solid green;
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
} 
.right1 {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
.center3 {
  padding: 70px 0;
  border: 3px solid green;
}
.center4 {
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
}
.center8 {
  line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
}
.center8 .p2 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.center6 {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center ,.p1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}
.d-s p{background-color: #ffaf00;}
.d-s1 > p{background-color: #ffaf00;}
.d-s2 + .P{background-color: #73AD21;}
.d-s4 ~ .P1{background-color: aqua;}

.w3-row{display: flex;}
.w3-half{width: 49.99999%;}
.mouseover {
  background-color: #04AA6D;
  color: white;
  display: inline-block;
  padding: 2px 25px;
  text-align: center;
  width: 93%;
}
.mouseover:hover{background-color: rgb(82, 82, 228);}
.focus {
  width: 99%;
  padding: 16px 20px;
  box-sizing: border-box;
  border: 4px solid #ccc;
}
.ps {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 15px;
}
.p0::first-line {
  color: #ff0000;
  font-variant: small-caps;
}
.p9::first-letter{color: #ff0000;font-size: xx-large;}
.imgg{
  opacity: 0.5;
}
.imgg:hover {
  opacity: 1.0;
}

.navi{list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;}
li .navi-1 {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  }
  li .navi-1:hover {
    background-color: #555;
    color: white;
  }
  li .navi-1.active {
    background-color: #04AA6D;
    color: white;
  }
  .navis{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .l5{float: left;}
  .l5, .navi-2{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .l5 .navi-2:hover {
    background-color: #111;
  }
  .navi-2.active {
    background-color: #04AA6D;
  }
  .lis{display: flex; flex-wrap: wrap;flex-direction: column; gap: 20px;}

  .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*  */
.dropbtn1 {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content .yy {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown1-content a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown1-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*  */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery ,.img6 {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

[title~=flower] {
  border: 5px solid yellow;
}
/*  */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container3 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*  */
#myid {
  background-color: blue;
}

.myclass {
  background-color: gray;
}

.PP {
  background-color: red !important;
}
  
.trans {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}
.trans:hover {
  width: 300px;
}
/*  */
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}
@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}
.dive {
  width: 100px;
  height: 50px;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
}

/*  */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.imh{ width: 200px;
  height: 300px;
  object-fit: none;}
.imh1{ width: 200px;
    height: 300px;
    object-fit: cover;}

    .iml2{
      width: 200px;
      height: 300px;
      object-fit: cover;
      object-position: 80% 100%;
    }
    /*  */

    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    
    .button1 {
      background-color: white; 
      color: black; 
      border: 2px solid #4CAF50;
    }
    
    .button1:hover {
      background-color: #4CAF50;
      color: white;
    }
    
    .button2 {
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
    }
    
    .button2:hover {
      background-color: #008CBA;
      color: white;
    }
    
    .button3 {
      background-color: white; 
      color: black; 
      border: 2px solid #f44336;
    }
    
    .button3:hover {
      background-color: #f44336;
      color: white;
    }
    
    .button4 {
      background-color: white;
      color: black;
      border: 2px solid #e7e7e7;
    }
    
    .button4:hover {background-color: #e7e7e7;}
    
    .button5 {
      background-color: white;
      color: black;
      border: 2px solid #555555;
    }
    
    .button5:hover {
      background-color: #555555;
      color: white;
    }
    /*  */
    .buttonl1 {border-radius: 2px;}
    .buttonl2 {border-radius: 4px;}
    .buttonl3 {border-radius: 8px;}
    .buttonl4 {border-radius: 12px;}
    .buttonl5 {border-radius: 50%;}
    /*  */
    .btn-group .button:hover {
      background-color: #3e8e41;
    }
    .btn-group .buttonls {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      float: left;
    }

    /*  */
    .pagination {
      display: inline-block;
    }
    
    .pagination ,.pag {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    .pagination .pag.active {
      background-color: #4CAF50;
      color: white;
    }
    .pagination a:hover:not(.active) {background-color: #ddd;}
    .divi1 {
      width: 300px;
      height: 100px;
      border: 1px solid blue;
    }
    
    .divi2 {
      width: 300px;
      height: 100px;  
      padding: 50px;
      border: 1px solid red;
    }
/*  */
.divr1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
}

.divr2 {
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}


    