  @import 'font';
  $pt-1:10px;
  $pt-2:20px;
  $pt-3:30px;
  $pt-4:40px;
  $pt-5:50px;

  $mt-1:10px;
  $mt-2:20px;
  $mt-3:30px;
  $mt-4:40px;
  $mt-5:50px;

$border: 1px solid;
  $border-width:1px;
  $border-widths: (
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px
  );
  $border-style:solid;
  /*  */
  $none:none;
$font-style:normal;
$h-1:100%;
$d-flex: flex;
$object-fir-contain:contain;
$object-fir-cover:cover;
$justify-content-center:center;
$flex-direction:column;
$text-center: center;
$col-12:100%;
$col-6:calc(100% / 2);
$col-3:calc(100% / 3);
$col-4:calc(100% / 4);
$w-50:50%;
$w-25:25%;
$w-75:75%;
$p-1:10px;
$p-2:20px;
$p-3:30px;
$p-4:40px;
$p-5:50px;
/*  */
$px-1:10px;
$px-2:20px;
$px-3:30px;
$px-4:40px;
$px-5:50px;
/*  */
$pb-1:10px;
$pb-2:20px;
$pb-3:30px;
$pb-4:40px;
$pb-5:50px;
/*  */
.border{border: $border;}
.text-decoration-none{text-decoration: none;}
.object-fit-cover{object-fit: $object-fir-cover;}
.object-fit-contain{object-fit:contain;}
.px-1{padding-left: $px-1;padding-right: $px-1;}
.px-2{padding-left: $px-2;padding-right: $px-2;}
.px-3{padding-left: $px-3;padding-right: $px-3;}
.px-4{padding-left: $px-4;padding-right: $px-4;}
.px-5{padding-left: $px-5;padding-right: $px-5;}

.pb-1{padding-bottom: $pb-1;}
.pb-2{padding-bottom: $pb-2;}
.pb-3{padding-bottom: $pb-3;}
.pb-4{padding-bottom: $pb-4;}
.pb-5{padding-bottom: $pb-5;}

.p-1{padding: $p-1;}
.p-2{padding: $p-2;}
.p-3{padding: $p-3;}
.p-4{padding: $p-4;}
.p-5{padding: $p-5;}
.font-normal{font-style: $font-style;}
.flex-column{flex-direction: $flex-direction;}
.d-flex{display: $d-flex;}
.justify-content-center{justify-content: $justify-content-center;}
.gap-5{gap: 50px;}
.gap-3{gap: 30px;}
.mx-auto{margin: 0 auto;}
.text-center{text-align: $text-center;}
.col-12{width: $col-12;}
.col-6{width: $w-50;}
.col-3{width: $col-3;}
.col-4{width: $w-25;}
.h-1{height: $h-1;}
.w-100{width: 100%;}
.w-50{width: $w-50;}
.w-75{width: $w-75;}
.w-25{width: $w-25;}

.fw-7{font-weight: $fw-700;}
.fw-1{font-weight: $fw-400;}
.pt-1{padding-top: $pt-1;}
.pt-2{padding-top: $pt-2;}
.pt-3{padding-top: $pt-3;}
.pt-4{padding-top: $pt-4;}
.pt-5{padding-top: $pt-5;}

.mt-1{margin-top: $mt-1};
.mt-2{margin-top: $mt-2};
.mt-3{margin-top: $mt-3};
.mt-4{margin-top: $mt-4};
.mt-5{margin-top: $mt-5};