* {
   box-sizing: border-box;
}
body {
   font-size: 20px;
   font-family: "Arial", sans-serif;
   line-height: 1.5;
   margin: 0;
}
/* Global CSS Start */
a {
   text-decoration: none;
}
:root {
   --primary: #ff0000;
   --secondary: #3092f9;
   --text-gray: #414141;
   --text-black: #000000;
   --text-black-500: #212121;

   --white: #ffffff;
   --gray: #cfcfcf;
   --grayness: #dadada;
   --gray-200: #f9f9f9;
   --might-gray: #eae7e7;
}

/* Text color */

.text-primary {
   color: var(--primary);
}
.text-secondary {
   color: var(--secondary);
}
.text-gray {
   color: var(--text-gray);
}
.text-gray-200 {
   color: var(--gray);
}
.font-weight-bold {
   font-weight: bold;
}
.text-black {
   color: var(--text-black);
}

/* background color */

.bg-primary {
   background-color: var(--white);
}
.bg-secondary {
   background-color: var(--gray);
}
.bg-gray-200 {
   background-color: var(--gray-200);
}
.bg-mighty-gray {
   background-color: var(--might-gray);
}
.bg-grayness {
   background-color: var(--grayness);
}

/* Padding & Margin */

.mt-2 {
   margin-top: 8px;
}
.px-3 {
   padding-left: 16px;
   padding-right: 16px;
}
.mt-5 {
   margin-top: 48px;
}
.mb-0 {
   margin-bottom: 0px;
}
.ml-auto {
   margin-left: auto;
}
.ml-0 {
   margin-left: 0;
}
.px-1 {
   padding-left: 4px;
   padding-right: 4px;
}
.pt-1 {
   padding-top: 4px;
}
.pt-2 {
   padding-top: 8px;
}
.py-2 {
   padding-top: 8px;
   padding-bottom: 8px;
}
.pb-2 {
   padding-bottom: 8px;
}
.mb-2 {
   margin-bottom: 8px;
}
.px-3 {
   padding-left: 16px;
   padding-right: 16px;
}
.pt-3 {
   padding-top: 16px;
}
.mt-3 {
   margin-top: 16px;
}
.px-4 {
   padding-left: 24px;
   padding-right: 24px;
}
.pb-4 {
   padding-bottom: 24px;
}
.px-5 {
   padding-left: 48px;
   padding-right: 48px;
}
.pt-5 {
   padding-top: 48px;
}
.pb-5 {
   padding-bottom: 48px;
}
.pl-0 {
   padding-left: 0;
}

/* Width */

.col-2 {
   width: 16.6666666667%;
}

.col-4 {
   width: 33.3333333333%;
}
.col-5 {
   width: 41.6666666667%;
}
.col-6 {
   width: 50%;
}
.col-12 {
   width: 100%;
}

/* Line Height */

.line-height-30 {
   line-height: 30px;
}
.line-height-40 {
   line-height: 40px;
}
.p-8 {
   padding: 8px;
}
.list-style-none {
   list-style: none;
}
.gap-50 {
   gap: 50px;
}
.gap-30 {
   gap: 30px;
}
.gap-15 {
   gap: 15px;
}
.object-fit-cover {
   object-fit: cover;
}

.d-inline-block {
   display: inline-block;
}
.d-block {
   display: block;
}
.d-flex {
   display: flex;
}
.justify-content-center {
   justify-content: center;
}
.align-item-center {
   align-items: center;
}
.text-uppercar {
   text-transform: uppercase;
}
.mx-auto {
   margin-left: auto;
   margin-right: auto;
}
.ml-auto {
   margin-left: auto;
}
.mr-auto {
   margin-right: auto;
}

.text-center {
   text-align: center;
}
.text-right {
   text-align: right;
}
.text-left {
   text-align: left;
}

.h-100 {
   height: 100%;
}

/* text color */

.position-relative {
   position: relative;
}
/*  */
.font-20 {
   font-size: 20px;
}
.font-18 {
   font-size: 18px;
}
.font-30 {
   font-size: 30px;
}
.font-32 {
   font-size: 32px;
}
.font-40 {
   font-size: 40px;
}
/*  */
.border-none {
   border: none;
}
.border {
   border: 1px solid var(--gray);
}
.border-bottom-primary {
   border-bottom: 1px solid var(--primary);
}
.border-bottom-gray {
   border-bottom: 1px solid var(--gray);
}

/*  */
.container {
   max-width: 1820px;
   margin: 0 auto;
   padding-left: 17px;
   padding-right: 17px;
}
header {
   max-width: 1820px;
   position: fixed;
   width: 100%;
   background-color: var(--white);
   margin: 0 auto;
   padding-left: 10px;
   padding-right: 10px;
   left: 0;
   right: 0;
   top: 0;
   z-index: 9999;
}

/* header start */

.search-input {
   border: 1px solid #b6b6b6;
   padding: 0px 50px 0px 24px;
   max-width: 475px;
   width: 100%;
   height: 36px;
   border-radius: 25px;
   top: 0;
   margin-left: auto;
   margin-right: 0;
   z-index: -1;
}
.search-icon {
   position: absolute;
   top: 7px;
   right: 15px;
   color: var(--gray);
}
/*  */
.banner-section table {
   max-width: 1440px;
   width: 100%;
}
table {
   border-collapse: collapse;
   border: 1px solid #cfcfcf;
}
table thead {
   border: none;
}
table tbody td {
   border: none;
}
audio {
   width: 563px;
}
/*  */

.nav-bar .nav-link:hover {
   color: var(--primary);
   border-bottom: 1px solid var(--primary);
}
.fa-btn {
   display: none;
}

/*  */
.video-content,
.iframe-content {
   max-width: 1046px;
   margin: 0 auto;
}
/*  */

footer address {
   font-style: normal;
}
.reset-btn,
.submit-btn {
   background-color: transparent;
   color: var(--text-black);
}
input::placeholder {
   color: #dadada;
}
.reset-btn:hover,
.submit-btn:hover {
   background-color: var(--text-black);
   color: var(--white);
}
/* media Query */
@media screen and (max-width: 1600px) {
   .search-input {
      max-width: 325px;
      margin-right: 20px;
   }
   .search-icon {
      right: 32px;
   }
}
@media screen and (max-width: 1200px) {
   .search-input {
      max-width: 300px;
   }
}
@media screen and (max-width: 1191px) {
   .col-lg-6 {
      width: 50%;
   }
   body {
      font-size: 18px;
   }
   .search-input {
      max-width: 250px;
      margin-right: 25px;
   }
   .search-icon {
      right: 32px;
   }
   .gap-50 {
      gap: 30px;
   }
}
@media screen and (max-width: 991px) {
   .col-lg-12 {
      width: 100%;
   }
   .pb-lg-3 {
      padding-bottom: 30px;
   }
   .pt-lg-3 {
      padding-top: 30px;
   }
   .search-input {
      max-width: 310px;
   }
   .fa-btn {
      display: block;
      font-size: 25px;
   }
   .nav-bar {
      display: none;
   }
   .search-bar {
      margin-left: auto;
   }
   body,
   .divide-section p {
      font-size: 16px;
   }
}
@media screen and (max-width: 767px) {
   .col-4,
   .col-6 {
      width: 100%;
   }
   .list-section .flex-lg-col,
   .flex-wrap {
      flex-direction: column;
      flex-wrap: wrap;
   }
   .divide-section .flex-col-reverse {
      flex-direction: column-reverse;
   }
   .search-input {
      max-width: 250px;
   }
}
@media screen and (max-width: 575px) {
   .font-40 {
      font-size: 25px;
   }
   .pb-sm-1 {
      padding-bottom: 10px;
   }
   .pt-sm-1 {
      padding-top: 10px;
   }
   .mt-5 {
      margin-top: unset;
   }
   .search-input {
      max-width: 90px;
      margin-right: 20px;
   }
   .search-icon {
      right: 32px;
   }
   .fa-btn {
      margin-right: 30px;
   }
   .logo img {
      height: 35px;
      width: 130px;
      padding-left: 0;
   }
   .pt-sm-0 {
      padding-top: 0px;
   }
}
@media screen and (max-width: 320px) {
   .logo img {
      height: 33px;
      width: 125px;
      padding: 9px 0px;
      padding-left: 0;
   }
   .search-input {
      max-width: 40px;
   }
}
