  $pt-1:10px;
  $pt-2:20px;
  $pt-3:30px;
  $pt-4:40px;
  $pt-5:50px;

  $mt-1:10px;
  $mt-2:20px;
  $mt-3:30px;
  $mt-4:40px;
  $mt-5:50px;


  $border-width:1px;
  $border-widths: (
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px
  );
  $border-style:solid;