$none:none;
$font-style:normal;
$h-1:100%;
$d-flex: flex;
$object-fir-cover:cover;
$justify-content-center:center;
$flex-direction:column;
$text-center: center;
$col-12:100%;
$col-6:calc(100% / 2);
$col-3:calc(100% / 3);
$col-4:calc(100% / 4);
$w-50:50%;
$w-25:25%;
$w-75:75%;
$p-1:10px;
$p-2:20px;
$p-3:30px;
$p-4:40px;
$p-5:50px;
/*  */
$px-1:10px;
$px-2:20px;
$px-3:30px;
$px-4:40px;
$px-5:50px;
/*  */
$pb-1:10px;
$pb-2:20px;
$pb-3:30px;
$pb-4:40px;
$pb-5:50px;
@use 'mixin' as m;

@import 'form';
@import 'table';

@import 'variable';
@import 'font';
@import 'color';
@import 'container';

body{
    margin: 0;
    font-family:$font-family-arial;
}
.object-fit-cover{object-fit: $object-fir-cover;}
.px-1{padding-left: $px-1;padding-right: $px-1;}
.px-2{padding-left: $px-2;padding-right: $px-2;}
.px-3{padding-left: $px-3;padding-right: $px-3;}
.px-4{padding-left: $px-4;padding-right: $px-4;}
.px-5{padding-left: $px-5;padding-right: $px-5;}

.pb-1{padding-bottom: $pb-1;}
.pb-2{padding-bottom: $pb-2;}
.pb-3{padding-bottom: $pb-3;}
.pb-4{padding-bottom: $pb-4;}
.pb-5{padding-bottom: $pb-5;}

.p-1{padding: $p-1;}
.p-2{padding: $p-2;}
.p-3{padding: $p-3;}
.p-4{padding: $p-4;}
.p-5{padding: $p-5;}
.font-normal{font-style: $font-style;}
.flex-column{flex-direction: $flex-direction;}
.d-flex{display: $d-flex;}
.justify-content-center{justify-content: $justify-content-center;}
.gap-5{gap: 50px;}
.gap-3{gap: 30px;}
.mx-auto{margin: 0 auto;}
.text-center{text-align: $text-center;}
.col-12{width: $col-12;}
.col-6{width: $w-50;}
.col-3{width: $w-75;}
.col-4{width: $w-25;}
.h-1{height: $h-1;}
.w-100{width: 100%;}
.w-50{width: $w-50;}
.w-75{width: $w-75;}
.w-25{width: $w-25;}

.fw-7{font-weight: $fw-700;}
.fw-1{font-weight: $fw-400;}
.pt-1{padding-top: $pt-1;}
.pt-2{padding-top: $pt-2;}
.pt-3{padding-top: $pt-3;}
.pt-4{padding-top: $pt-4;}
.pt-5{padding-top: $pt-5;}

.mt-1{margin-top: $mt-1};
.mt-2{margin-top: $mt-2};
.mt-3{margin-top: $mt-3};
.mt-4{margin-top: $mt-4};
.mt-5{margin-top: $mt-5};

/* Navigation */
.navigation{
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 9;
}
#check{display: none;}

.fa-btn{
    display: none;
    @include m.md{
        display: block;
        font-size:$fs-20;
        padding: 20px; 
        z-index: 9999999;
    }
    @include m.xsm{
        padding: 10px;;
    }
}
.nav-bar{ 
    display: flex;
    align-items: center; 
}

.navigation {
  background: $bg-primary;
  @include m.md{
    #check:checked ~ nav{transform: translateY(0);}
    }
}
.nav-container{
    max-width: $container;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
.container{
  max-width: $section-container;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.logo {
    height: 70px;
    width: 138px;
    padding: 10px ;
    .ban-img1{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
nav {
    padding: 0px 100px;
    .nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 10px 50px;
      align-items: center;
      transform: translateY(50% , -50%);
        .nav-link{text-decoration: none;
                    color: $text-dark;
                    &.active,:hover{
                        color: red;border-bottom: 1px solid $scondary;
                    }&:hover{
                        color: $scondary;
                        border-bottom:1px solid $scondary;
                    }
                    @include m.md{ border-bottom :1px solid #faf5e4; font-size: $fs-20; color: #292929;}  
            }
            @include m.md{
                display: flex; flex-direction: column; padding-top: 50px; color: #292929; z-index: 9; cursor: pointer; align-items: baseline;
            }
    } 
    @include m.md{
        position: absolute; width: 100%;top: 0;left: 0;height: 100vh;transform: translateY(-100%);text-align: center; transition: all .5s; padding: 0; z-index: 999;background-color: #d4d4d4;
    }
    @include m.lg{ 
        padding: 0px 30px;
        .nav-list{
            gap: 10px 30px;
        }
    }
}
.search-in{
    margin-left: auto;
    width: auto;
    display: flex;
    align-items: center; 
    @include m.sm{
        margin-left: 30px;
    }
    @include m.xsm{
    margin-left: unset;
    }
}
.search__input {
    border: 1px solid $text-muted;
    padding: 10px 271px 10px 25px;
    position: relative;
    border-radius: 25px;
    margin-bottom: 0;
    @include m.xl{
        width: 250px;
        padding: 10px 50px 10px 25px;
    }
    @include m.xlg{
        padding: 10px 50px 10px 25px;
        width: 250px;
    }
    @include m.lg{ 
        padding: 10px 70px 10px 25px;
        width: 200px;
    }
    @include m.sm{
        width: 100px; 
    }
    @include m.xsm{
        width: 0px;
    }
}
.icn1{
    position: absolute;
    z-index: 99;
    right: 35px;
    color: $gray;
    transform: translateY(-50% , 50%);
    @include m.md{
        right: 85px;
    }
    @include m.sm{
        right: 190px;
    }
}

/*---------------------------------------- banner-Section ------------------------------------------------------------------------*/
.banner-section{
    padding-top: 80px;
}
.ban-h{
    font-family: $font-family-arial;
    font-style: normal;
    font-weight: 700;
    font-size: $fs-48;
    line-height: 40px;
    text-align: center;
    color: $scondary;
}
.ban-cont{
    max-width: 600px;
    font-size: $fs-20;
    font-family: $font-family-arial;    
    font-weight: $fw-700;
    color: $text-secondary;
}

.p-con {
    font-family: $font-family-arial;
    font-style: normal;
    font-size: $fs-20;
    line-height: 30px;
}



/* --------------------------------card-section ---------------------------------------------------------------------------------------------------*/
.card-h{
    font-family: $font-family-arial;
    font-style: normal;
    font-weight: 700;
    font-size: $fs-40;
    text-align: center;
    color: $scondary;
}
 /* video - section */
 .videos{
    height: 424.64px;
    width: 1046px;
    margin: 0 auto;
    z-index: 1;
    transform: translateY(30%);
}
video{object-fit: cover; height: 100%; width: 100%;}
 .video-img{
    background-image: url(/sass-demo-2/assets/image/back.png);
    height: 713px;
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
}   
/* ------------------------------------------Audio---------------------------------------------------------------------------- */
/* -------------------------------------------------form---------------------------------------------------------------------- */
.form-f{
    background-color: #dad9d9;
    border-radius: 30px;
    height: 100%;
    width: 1050px;
}
/* -------------------------------footer------------------------------------------------------------------------------------- */
/* footer{
    background-color: $bg-secondary;
    padding: 30px;
} */
/* .foter-h{
    font-size: $fs-20;
    font-family: $font-family-arial;
    text-align: center;
    padding: 0;
    margin: 0;
} */
/* .foter-p{
    font-size: $fs-18;
    font-family: $font-family-arial;
    text-align: center;
    padding: 0;margin: 10px;
    color: $text-dark-s;
    @media(max-width:$screen-sm-max){
        font-size: $fs-14;
    }
} */
